*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.full{
    height: 100vh;
    width: 100vh;
    
}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center ;
    padding-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.nvabar_right{
    display: flex;
    gap: 10px;
    padding-right: 10px
}

.nvabar_left{
    padding-left: 10px
}



.bdy{
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-left: 10px;
    margin-right: 10px;
    gap: 0px;
}

.left{
    width: 60vw;
    height: 85vh;
    margin-right: 10px;
    background-color: #eff6fe;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.left_up{
    padding-top: 190px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    gap: 60px;
    
}

.left_down{
    padding-top: 190px;
    padding-left: 20px;

    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    
}

.left_down button{
    height: 50px;
    width: 100px;
    border-radius: 12px;
    
}

.btn1{

    height: 50px;
    width: 100px;
    border-radius: 12px;
    background-color: #50ad50;

}

.btn2{
    background-color: #3f46a4;
}

.right{
    background-color: rgb(243, 243, 243);
    padding-left: 10px;
    width: 35vw;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    gap: 120px;
}

.forms{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formvai label{
    font-weight: bold;
    font-size: xx-large;
}

.formvai input{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}
.btn{
    background-color: #000000;
    color: white;
}